.dock-container {
  display: flex;
  top: 95%;
  min-width: 100px;
  min-height: 100px;
  align-self: center;
  background-color: #49494970;
}

.show-borders {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

/* 
*/
