.default {
  position: absolute;
  top: 67px;
  left: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.screen-10-window-1 {
  position: absolute;
  top: 686px;
  left: 610px;
  width: 464px;
  height: 356px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}

.screen-10-window-2 {
  position: absolute;
  top: 67px;
  left: 0;
  width: 842px;
  height: 907px;
  object-fit: cover;
  cursor: pointer;
}

.screen-10-window-3 {
  position: absolute;
  top: 0;
  left: 710px;
  width: 500px;
  height: 410px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}

.screen-10-window-4 {
  position: absolute;
  top: 0;
  left: 960px;
  width: 960px;
  height: 1042px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
